{% extends 'base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row g-4">
    {% for adoption in adoptions %}
        <div class="col-md-4 col-sm-12">
            <div class="card shadow text-center">
                <h2 class="card-header">
                    <a href="{{ path('adoption_show', {
                        id: adoption.id,
                    }) }}">
                        {{ adoption.name }}
                    </a>
                </h2>
                <div class="card-body">
                    <p class="card-text">
                        {{ adoption.description }}
                    </p>
                    {% for dog in adoption.dogs %}
                        <h3>
                            {{ dog.name }}
                            {% if dog.birthDate %}
                                ({{ dog.age }} ans)
                            {% endif %}

                        </h3>
                        <div class="row">
                            {% for image in dog.images %}
                                {% if image.path starts with 'http' %}
                                    <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                                {#{% else %}
                                    <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">#}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>
                            {{ dog.description }}
                        </p>
                    {% endfor %}
                    {% for cat in adoption.cats %}
                        {% if cat.filename %}
                            <img src="/images/dogs/{{ cat.filename }}" alt="card-img-top" style="width: 100%; height: auto">
{#
                            <img src="{{ vich_uploader_asset(filename) }}" alt="card-img-top" style="width: 100%; height: auto">
#}
                        {% endif %}
                        <h3>
                            {{ cat.name }}
                        </h3>
{#                        <div class="row">
                            {% for image in dog.images %}
                                {% if image.path starts with 'http' %}
                                    <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                                    #}{#{% else %}
                                        <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">#}{#
                                {% endif %}
                            {% endfor %}
                        </div>#}
                        <p>
                            {{ cat.description }}
                        </p>
                        <p>
                            {{ cat.imageFile }}
                            {{ cat.filename }}
                        </p>
                    {% endfor %}
                </div>
                <div class="card-footer text-muted">
                    Annonce mise à jour le {{ adoption.updatedAt|date('d/m/Y à H:i') }}.
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}
