{#{% extends 'base.html.twig' %}

{% block title %}
    {{ adoption.name }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>{{ adoption.name }}</h1>
        <p>
            {{ adoption.description }}
        </p>
        {% for dog in adoption.dogs %}
            <h3>
                {{ dog.name }}
                {% if dog.birthDate %}
                    ({{ dog.age }} ans)
                {% endif %}

            </h3>
            {% for image in dog.images %}
                <img src="{{ image.path }}" class="card-img-top" alt="">
            {% endfor %}
            <p>
                {{ dog.description }}
            </p>
        {% endfor %}
        <a href="#">Nous contacter</a>
    </div>

{% endblock %}#}
{% extends 'base.html.twig' %}

{% block title %}
    {{ adoption.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ adoption.name }}</h1>
        <p>
            {{ adoption.description }}
        </p>
        {% for dog in adoption.dogs %}
            <h3>
                {{ dog.name }}
                {% if dog.birthDate %}
                    ({{ dog.age }} ans)
                {% endif %}
                {% if dog.taken %}
                    (adopté)
                {% endif %}
            </h3>
            <div class="row">
                {% for image in dog.images %}
                    {% if image.path starts with 'http' %}
                        <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                    {#{% else %}
                        <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">#}
                    {% endif %}
                {% endfor %}
            </div>
            <p>
                {{ dog.description }}
            </p>
        {% endfor %}
        <div class="card-footer text-muted">
            Annonce mise à jour le {{ adoption.updatedAt|date('d/m/Y à H:i') }}.
        </div>
        {#on redirige le futur adoptant vers la page de contact#}
        {#TODO: add a btn on href link#}
        <a href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">
            Contacter ANIMA
        </a>

    </div>
{% endblock %}

