/*body {
                    width: 500px;
                    height: 300px;
                    overflow: hidden;
                    padding-top: 120px;
                }*/

/**********************************************************************************************************
***************** style anim. with keyframes (tests)/ *****************************************************/
html, body {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 450px;
    margin: 40px auto;
}

h1 {
    color: #000;
    line-height: 1.1;
}

a {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

a:hover {
    background-size: 100% 100%;
}

.content a {
    background-size: 100% 100%;
    color: #000;
}

.content a:hover {
    animation: underlined 1s both;
}

@keyframes underlined {
    from {
        background-size: 100% 100%;
        background-position: bottom right;
    }
    50% {
        background-size: 0 100%;
        background-position: bottom right;
    }
    50.01% {
        background-position: bottom left;
    }
    100% {
        background-size: 100% 100%;
        background-position: bottom left;
    }
}
/**********************************************************************************************************
***************** end *****************************************************/



/**********************************
    Ajouter une police locale
***********************************/
@font-face {
    font-family: "Rockwell";
    src: url("font/Rockwell.eot");
    src: local("Rockwell"),
    url("font/Rockwell.eot?#iefix") format("embedded-opentype"),
    url("font/Rockwell.woff") format("woff"),
    url("font/Rockwell.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/**********************************
            STYLE GENERAL
***********************************/
html {
    scroll-behavior: smooth; /*pour faire un smoothscrool sur les ancres*/
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #3c3c3c;
    overflow-x: hidden;
}
a {
    transition: all 0.3s ease;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 18px;
    color: #4b4975;
}

/**********************************
        CLASSES GLOBALES
***********************************/
.roboto {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.rockwell,
h2,
h3 {
    font-family: Rockwell, "Times New Roman", Times, serif;
}
.black {
    font-weight: 900;
}
.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
}

/**********************************
            HEADER
***********************************/
header#entete {
    background-image: linear-gradient(
            to top right,
            rgba(234, 145, 145, 0.7),
            rgba(75, 73, 117, 0.7)
    ),
    url(../img/photo.jpeg);
    background-position: center center;
    padding-top: 30px;
    background-size: cover;
}
header#entete::after {
    content: "";
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    background: white;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
}
#nav img {
    height: 60px;
}
#nav ul {
    margin-bottom: 0;
}
#nav ul li {
    margin-right: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}
#nav ul li:last-of-type {
    margin-right: 0px;
}
#titre {
    padding: 150px 20px 200px;
    text-align: center;
    color: white;
}
#titre.shorter {
    padding: 70px 20px 100px;
}
#titre h2 {
    font-size: 15px;
    margin: 20px 0 30px;
}
#titre a {
    color: #ea9191 !important;
    background: white;
    padding: 7px 25px;
    border-radius: 50px;
    font-size: 15px;
}
#titre a:hover {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2) !important;
}
/* CARDS */


.card--home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/**********************************
        HOME - Concept
***********************************/
#concept {
    padding: 150px 15px 50px;
}
#concept h2 {
    color: #4b4975;
    line-height: 55px;
    padding-left: 20%;
    margin-top: -12px;
}
#concept h2::before {
    content: "";
    height: 200px;
    width: 230px;
    position: absolute;
    z-index: -1;
    top: -90px;
    left: 15px;
    background-image: url(../img/grain.png), linear-gradient(#e6b331, #e6b331);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
#concept article {
    padding: 0 20px 20px 45px;
}
#concept article h3 {
    margin-bottom: 20px;
}
#concept article p {
    padding-left: 5px;
}
#concept article img {
    float: left;
    margin: -12px 15px 0 -45px;
    height: 35px;
}

/**********************************
    PAGE PRODUITS - Carrousel
***********************************/

#featured {
    margin: 50px auto;
}
#featured h2 {
    color: #ea9191;
    margin-bottom: 30px;
}
#featured .carousel-item {
    background: linear-gradient(
            to top right,
            rgba(234, 145, 145, 0.7),
            rgba(75, 73, 117, 0.7)
    );
}
#featured img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
}

#featured .carousel-caption {
    background: rgba(0, 0, 0, 0.2);
}
#featured .carousel-caption h3 {
    color: white;
}

/**********************************
        FOOTER
***********************************/
footer {
    padding: 80px 0 20px;
    margin-top: 100px;
    background: linear-gradient(
            to top right,
            #96859e,
            20%,
            rgba(234, 145, 145, 1),
            #e6b331
    );
    color: white;
}
footer img {
    height: 40px;
}
footer #email::before {
    content: "";
    height: 40px;
    width: 1px;
    display: block;
    background: white;
    margin: 0 0 15px 25px;
}
footer #email::after {
    content: "";
    height: 40px;
    width: 1px;
    display: block;
    background: white;
    margin: 15px 0 0 134px;
}
footer #sep {
    width: 40px;
    height: 1px;
    display: block;
    background: white;
    margin: 0 15px;
}
footer #adresse {
    text-align: center;
    margin-top: 15px;
    width: 60%;
}
footer ul {
    margin-top: 55px;
    width: 60%;
}

footer form *:not(.bouton) {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.35);
    color: white;
}
footer form *::placeholder {
    color: white;
}
footer form .bouton {
    background: #ea9191 !important;
    color: white;
    padding: 7px 25px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    margin-top: -35px;
    position: relative;
}

footer .footer::before {
    content: "";
    width: 50%;
    height: 1px;
    background: white;
    display: block;
    margin: 50px 0 30px;
}

/**********************************
    HOME - Produits
***********************************/

#produits.shadow {
    border-radius: 40px;
    padding: 50px 0 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
#produits ul {
    text-align: center;
    margin-top: 40px;
}
#produits ul li {
    margin-bottom: 30px;
}
#produits h2 {
    text-align: center;
    color: #ea9191;
}
#produits img {
    width: 50%;
    margin-bottom: 15px;
}
#produits span {
    font-size: 15px;
}

/**********************************
      Single Produit
***********************************/
#infos .buy {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
    border-radius: 3px;
}
#infos .buy #buy {
    display: block;
    background-color: rgba(234, 145, 145, 1);
    padding: 12px 0;
    border-radius: 3px;
    text-align: center;
    color: white !important;
}

#infos .flavor li {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-right: 10px;
    border-radius: 3px;
}
#infos .flavor li:hover,
#infos .number:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
#infos input {
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-right: none;
}
#infos .number {
    width: 35px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
#infos .number:first-of-type {
    border-right-color: rgba(0, 0, 0, 0.07);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#infos .number:last-of-type {
    border-left-color: rgba(0, 0, 0, 0.07);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#infos nav:first-of-type ol {
    background-color: white;
}

/**********************************
            RESPONSIVE
***********************************/

/* STYLE TABLETTE */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #concept h2::before {
        height: 300px;
        left: 45px;
        width: 160px;
    }
    footer #adresse {
        width: 100%;
    }
    footer ul {
        width: 100%;
    }
}

/* STYLE MOBILE */
@media screen and (max-width: 767px) {
    #concept h2::before {
        left: 45px;
    }
    #concept h2 {
        margin-bottom: 90px;
    }
    #concept article {
        padding: 0 20px 20px 85px;
    }
    #produits {
        width: 90%;
        margin: auto;
    }
    #produits li:nth-of-type(2) {
        margin: 30px 0;
    }
    header,
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    footer ul {
        width: 100%;
    }
}

/* MENU MOBILE */
.bt-menu-trigger {
    display: none;
}
@media screen and (max-width: 767px) {
    nav#bt-menu ul {
        display: none;
    }
    .bt-menu-trigger {
        position: fixed;
        z-index: 9999;
        top: 25px;
        right: 30px;
        display: block;
        width: 42px;
        height: 50px;
        cursor: pointer;
    }
    .bt-menu-trigger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: #e6b331;
        font-size: 0px;
    }
    .bt-menu-trigger span:before,
    .bt-menu-trigger span:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background: #e6b331;
        content: "";
    }
    .bt-menu-trigger span:before {
        top: -10px;
    }
    .bt-menu-trigger span:after {
        top: 10px;
    }
}

/********************************************************************************************/

/************************
* CSS GLOBAL
************************/
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: inherit;
}

.btn {
    text-decoration: none;
    border: 1px solid darksalmon;
    color: darksalmon;
    padding: 10px 15px;
    margin-top: 15px;
    display: inline-block
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 30px;
}

p,
li {
    line-height: 180%;
}

/************************
* CSS PAR SECTION
************************/
/* header */
header {
    background-image: url("images/home-header-Anima-img/chatons-psycho_61d46a6e8d925ecf4a5a25c62360bea8 1.svg");
    background-position: center;
    background-size: cover;
    padding: 150px;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 70px;
    line-height: 100%;
    margin-bottom: 20px;
}

main section#concept {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main section#concept img {
    width: 30%;
    margin-left: 10%;
}

/* intro / destinations */
main section#intro {
    display: flex;
    align-items: center;
}

main section#intro img {
    width: 30%;
    margin-right: 10%;
}

/* Grille de prix */
main section#prices {
    text-align: center;
}

main section#prices ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

main section#prices ul li {
    width: calc(30% - 40px);
    border: 1px solid darksalmon;
    padding: 20px;
}

main section#prices p:first-of-type {
    font-size: 40px;
    line-height: 100%;
    color: darksalmon
}

main section#prices p:first-of-type sup {
    font-size: 0.3em;
    color: black
}

/***********************************************************
***********************************************************/


h1,
p,
.bs-example {
    text-align: center;
}

.navbar {
    z-index: -10;
    padding-left: 20px;
}

.navbar .container-fluid {
    flex-wrap: nowrap;
}

.navbar-nav {
    flex-direction: row !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.lead {
    margin-bottom: 2em;
}

.page-header {
    border-bottom: none;
}
