{% extends '/base.html.twig' %}

{% block title %}Hello AdoptionController!{% endblock %}


    {% block body %}


<header id="entete">

    <div id="titre" class="container d-flex justify-content-between flex-column align-items-center">
        <h1 class="roboto black">protection animale</h1>
        <h2 class="rockwell">ANIMA, du latin “anima” signifie âme, souffle.
                D’ou provient le terme ANIMAL.</h2>
        <a class="shadow" href="#concept">Découvrir</a>
    </div>
</header>

       <body>
            <main>
                <img class="shape img-fluid text-center" src="images/logo-anima/logo-vector.svg" alt="...">
                    <h2 class="text-center text-uppercase">
                        nos dernières annonces de rescapés à placer
                    </h2>
                    <br>
                    <div class="row g-4">
                        {% for adoption in adoptions %}
                        <div class="col-md-4 col-sm-12">
                            <div class="card shadow text-center">
                                <h2 class="card-header">
                                    {{ adoption.name }}
                                </h2>
                            {% for dog in adoption.dogs %}
                                <div class="card-body">
                                    <h3>
                                        {{ dog.name }}
                                        {% if dog.birthDate %}
                                            ({{ dog.age }} ans)
                                        {% endif %}
                                    </h3>
                                    <div class="row">
                                        {% for image in dog.images %}
                                            <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        {% for breed in dog.breeds %}
                                            {{ breed.name }}
                                        {% endfor %}
                                    </div>
                                    <p class="card-text"></p>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Cette annonce a été mise à jour le {{ adoption.updatedAt|date('d/m/Y à H:i') }}.</small>
                                    <a class="shadow" href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">
                                        Contacter ANIMA pour + d'infos
                                    </a>
                        </div>
                        {#<div class="card-footer text-muted">
                            Annonce mise à jour le
                        </div>#}
                    </div>
                </div>
                {% endfor %}

            </div>

                        <div>
                            <br>
                            <h2 class="text-center text-uppercase">
                                associations, SPA, vétérinaires et éleveurs ayant des rescapés à placer
                            </h2>
                            <br>
                            {% for association in associations %}
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {{ association.name }}
                                                </h5>
                                                {% for adoption in association.adoption %}
                                                   {# TODO: CHANGER NOM POUR METTRE NOMBRE D ANNONCES POURVUS ET A POURVOIR#}
                                                <p class="card-text">{{ adoption.name }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">Last updated 3 mins ago</small>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

            </main>
       </body>

    {% endblock %}


