{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title %}
    Maude, Arnaud, bienvenue sur votre dashboard ! En tant qu'Administrateur de ce site,
    seule vous deux, dirigenant de l'Association ANIMA (Recueil, Actions et Protection envers les Animaux abandonnés),
    ont accès à ce tout puissant dashboard.
    Vous pouvez gérer toutes les données de votre site, soit CREER, MODIFIER, SUPPRIMER, vos annonces, et toutes vos informations,
    sur les animaux, les images, les bénévoles...etc...

{% endblock %}

{% block page_content %}
    {{  dump() }}
{% endblock %}
