{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.description) }}</div>
            <div class="col-md-4">{{ form_row(form.imageFile) }}</div>

        </div>
    </div>
</div>


<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% endblock %}
